.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 130px auto 0;
}

@media screen and (max-width: 1239px) {
  .cards {
    margin-top: 55px;
  }
}
