.comments {
  max-height: 525px;
  background-color: #fff;
  padding: 145px 75px 130px;
}

@media screen and (max-width: 1239px) {
  .comments {
    padding: 120px 75px 95px;
  }
}
@media screen and (max-width: 976px) {
  .comments {
    padding-top: 75px;
  }
}

@media screen and (max-width: 814px) {
  .comments {
    padding: 75px 0 30px 28px;
    max-height: 950px;
  }
}

