.comments {
  max-height: 525px;
  background-color: #fff;
  padding: 143px 75px 130px;
}

@media screen and (max-width: 1239px) {
  .comments {
padding: 120px 75px 95px;
  }
}
@media screen and (max-width: 976px) {
  .comments {
    padding-top: 75px;
  }
}

@media screen and (max-width: 793px) {
  .comments {
    padding: 75px 75px 30px;
    max-height: 950px;
  }
}

@media screen and (max-width: 689px) {
  .comments {
    padding: 40px;
  }
}

