.comments {
  max-height: 525px;
  background-color: #fff;
  padding: 143px 75px 130px;
}

@media screen and (max-width: 1239px) {
  .comments {
padding: 120px 75px 95px;
  }
}

@media screen and (max-width: 793px) {
  .comments {
    padding: 43px 75px 130px
  }
}

@media screen and (max-width: 689px) {
  .comments {
  padding-left: 40px;
  }
}

@media screen and (max-width: 594px) {
  .comments {
max-height: 700px;
  }
}