.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  max-width: 1377px;
  margin: 0;
}

@media screen and (max-width: 814px) {
  .photo-grid {
    grid-template-columns: minmax(284px, 1fr);
  }
}
