.header__fedback {
  list-style: none;
  margin-left: auto;
  padding: 0;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 14px;
}

.header__fedback:hover {
  opacity: .75;
  transition: .1s linear;
}

@media screen and (max-width: 440px) {
  .header__fedback {
    font-size: 16px;
    line-height: 20px;
  }
}
