.menu__list {
  margin: 0 38px 0 0;
  list-style: none;
}

.menu__list:last-child {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .menu__list {
    margin: 0 32px 0 0;
  }
}

@media screen and (max-width: 525px) {
  .menu__list {
    margin: 0 12px 0 0;
  }
}

@media screen and (max-width: 440px) {
  .menu__list {
    margin: 0 0 12px 0;
  }
}
