.cards__item {
    margin-right: 82px;
    max-width: 240px;
}

.cards__item:last-child {
    margin-right: 0;
}


@media screen and (max-width: 1376px) {
.cards__item {
    margin-right: 70px;
    max-width: 200px;
    }
}

@media screen and (max-width: 1239px) {
    .cards__item {
        margin-right: 40px;
        max-width: 180px;
    }
}


@media screen and (max-width: 793px) {
    .cards__item {
    max-width: 200px;
    }
}

