.footer__copyright {
  margin: 0;
  padding: 0;
  max-width: 550px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1.04%;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .footer__copyright {
    font-size: 24px;
  }
}

@media screen and (max-width: 450px) {
  .footer__copyright {
    font-size: 20px;
  }
}
