.video__title {
  position: absolute;
  top: 21%;
  left: 5.5%;
  color: #fff;
  font-size: 36px;
  margin: 0;
  font-weight: 700;
}

@media screen and (max-width: 1150px) {
  .video__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 950px) {
  .video__title {
    display: none;
  }
}
