.video__title {
  position: absolute;
  top: 139px;
  left: 75px;
  color: #fff;
  font-size: 36px;
  letter-spacing: 2.1px;
  margin: 0;
  font-weight: 700;
}

.video:hover .video__title {
  display: none;
}
