.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 581px;
  padding: 0px 75px 8px 75px;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 0px 28px 8px 28px;
  }
}

@media screen and (max-width: 814px) {
  .intro {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0 0 8px 0;
  }
}
