.place__form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 930px) {
  .place__form {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 715px) {
  .place__form {
    flex-direction: column;
    align-items: center;
  }
}
