.place__textarea {
  margin: 20px 0 0 73px;
  padding: 9px 0 5px 17px;
  width: 363px;
  height: 95px;
  border: none;
  outline: none;
  resize: none;
}

@media screen and (max-width: 980px) {
  .place__textarea {
    margin: 20px 0 0px 58px;
  }
}

@media screen and (max-width: 930px) {
  .place__textarea {
    margin: 20px 0 0px 0px;
  }
}
