.intro__main-text {
  margin-bottom: 40px;
}

@media screen and (max-width: 814px) {
  .intro__main-text {
    margin-bottom: 20px;
    padding: 0 0 0 28px;
  }
}

@media screen and (max-width: 594px) {
  .intro__main-text {
    padding: 0 28px 0 28px;
  }
}
