.photo-grid__item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding-left: 75px;
  padding-top: 68px;
}

@media screen and (max-width: 1070px) {
  .photo-grid__item-text {
    padding-left: 55px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 860px) {
  .photo-grid__item-text {
    padding-left: 18px;
    padding-top: 18px;
  }
}
