.intro__image {
  background-image: url(../../../images/intro-image.jpeg);
  background-size: cover;
  background-position: center;
  height: 383px;
  width: 383px;
  margin: 91px 94px 132px 147px;
  box-sizing: border-box;
}
