.intro__image {
  background-image: url(../../../images/intro-image.jpeg);
  background-size: cover;
  background-position: center;
  height: 383px;
  width: 383px;
  margin: 91px 94px 132px 147px;
  box-sizing: border-box;
}

@media screen and (max-width: 1350px) {
  .intro__image {
    margin: 91px 0 91px 0;
  }
}

@media screen and (max-width: 814px) {
  .intro__image {
    margin: 91px 0 18px 0;
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .intro__image {
    height: 300px;
  }
}
