.video__button {
  box-sizing: border-box;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  color: #86bbe7;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__button:before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 35px;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 26px solid;
  top: 21px;
  left: 29px
}

.video:hover .video__button {
  background-color: rgba(0,0,0,0.7);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}
